<!DOCTYPE html>
<html>
<!--------Header------------->
        <HEAD>
        <META CHARSET="UTF-8">
        <title>{{pageTitle}}</title>
        </HEAD>
<!--------Body------------->
    <body>
    <h1><a href="/">HomePage</a></h1>
    <p> this is about page</p>
    </body>

<!--------Footer------------->
{{> footer}}

</html>